:root {
    font: 1rem/1.175 "BlinkMacSystemFont", -apple-system, "Roboto", sans-serif;
}

/* grid specification */
#grid {
    display: grid;
    /*grid-template-areas: "a b";*/
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    grid-column-gap: 40px;
    width: 90vw; height: 28vw;
    margin:0 auto;
}

.grid-item {
    display: grid;
    grid-template-rows: 28% 35%;
    background: #eeeeee;
    border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 60px;
    transition: transform 250ms;
    /* Prevent text selection */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;

}

/*.item-left {*/
    /*grid-column: a;*/
/*}*/

/*.item-right {*/
    /*grid-column: b;*/
/*}*/

.grid-item:hover {
    /* transition */
    transition: transform 250ms;
    /* transform */
    transform: scale(1.06);
    /* background: #e1e1; */
    border: 3px solid #02b9ff;
}

grid-item:active {
    background: #1e68c0;
}


/*!* Do we need this part? seems redundantly placed *!*/
/*!* hover over - certain/not certain button *!*/
/*.grid-item:hover .divbutton {*/
    /*display: block;*/
/*}*/

.grid-cell--top, .grid-cell--bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell--top { border-radius: 4px 4px 0 0; }

.grid-cell--bottom { font-weight: 900; font-size: 3vw; }

.bounce { animation: bounce 1s; }

.header-text {
    font-size: 1vw;
}

.progress-bar {
    display: block;
    width: 26vw;
    height: 3vw;
    /*background: #75aaff;*/
    margin: auto;
}

.progress-message {
    font-size: 2vw;
}

@keyframes bounce {
    0% { transform: rotate(  0deg) scale(1.0); }
    33% { transform: rotate( 12deg) scale(1.2); }
    67% { transform: rotate(-12deg) scale(0.8); }
    100% { transform: rotate(  0deg) scale(1.0); }
}

.selection-output {
    margin: auto;
    text-align: center;
    padding-bottom: 2vw;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vw
}
