:root {
    font: 1rem/1.175 "BlinkMacSystemFont", -apple-system, "Roboto", sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    grid-column-gap: 40px;
    width: 90vw; height: 28vw;
    margin:0 auto;
}

.grid-item {
    display: grid;
    grid-template-rows: 28% 35%;
    background: #eeeeee;
    border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 60px;
    transition: transform 250ms;
    /* Prevent text selection */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.grid-item:hover {
    transition: transform 250ms;
    transform: scale(1.06);
    border: 3px solid #02b9ff;
    /*background: #d0d0d0;*/
}

.grid-item:active {
    background: #1e68c0;
}

.grid-cell--top, .grid-cell--bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell--top { border-radius: 4px 4px 0 0; }

.grid-cell--bottom { font-weight: 900; font-size: 3vw; }

.bounce { animation: bounce 1s; }

.header-text {
    font-size: 1vw;
    /* Prevent text selection */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.progress-bar {
    display: block;
    width: 26vw;
    height: 3vw;
    margin: auto;
}

.progress-message {
    font-size: 2vw;
    position: relative;
    height: 100%;
    /* Prevent text selection */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.container{
    display: flex;
    width: 90vw;
    height: 28vw;
    position: relative;
    align-items: center;
    margin: auto;
}

.completion-message {
    font-size: 3vw;
    text-align: center;
    /* Prevent text selection */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

@keyframes bounce {
    0% { transform: rotate(  0deg) scale(1.0); }
    33% { transform: rotate( 12deg) scale(1.2); }
    67% { transform: rotate(-12deg) scale(0.8); }
    100% { transform: rotate(  0deg) scale(1.0); }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5vw;
}
